@model CanteenSystem.Models.UserDepartment

@{
    ViewBag.Title = "Gán user cho bộ phận";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0"><i class="fas fa-link"></i> Gán user cho bộ phận</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("User", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("UserId", (SelectList)ViewBag.UserId, "-- Chọn user --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Bộ phận", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("DepartmentId", (SelectList)ViewBag.DepartmentId, "-- Chọn bộ phận --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mt-4">
                            <input type="submit" value="Gán ngay" class="btn btn-success" />
                            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary ml-2" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}