@model CanteenSystem.Models.UserDepartment

@{
    ViewBag.Title = "Xác nhận xóa gán";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0"><i class="fas fa-exclamation-triangle"></i> Xác nhận xóa gán</h4>
                </div>
                <div class="card-body">
                    <h5 class="text-danger">Bạn có chắc chắn muốn xóa gán này?</h5>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-3">User</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.Username)</dd>

                        <dt class="col-sm-3">Bộ phận</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Department.DepartmentCode) - @Html.DisplayFor(model => model.Department.DepartmentName)</dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group mt-4">
                            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                            @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-secondary ml-2" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>