@model CanteenSystem.Models.Leader

@{
    ViewBag.Title = "Create Leader";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h4 class="mb-0"><i class="fas fa-user-plus"></i> Thêm cán bộ mới</h4>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control", placeholder = "Mã cán bộ (ví dụ: NV001)" } })
                                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "Họ và tên" } })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DepartmentId, "Bộ phận", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("DepartmentId", (SelectList)ViewBag.DepartmentId, "-- Chọn bộ phận --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Rank, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Rank, new { htmlAttributes = new { @class = "form-control", placeholder = "Chức vụ (ví dụ: Trưởng phòng)" } })
                                @Html.ValidationMessageFor(model => model.Rank, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CostCenter, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CostCenter, new { htmlAttributes = new { @class = "form-control", placeholder = "Cost Center (nếu có)" } })
                                @Html.ValidationMessageFor(model => model.CostCenter, "", new { @class = "text-danger" })
                            </div>

                            <!-- Ẩn audit fields -->
                            @Html.HiddenFor(model => model.CreatedAt)
                            @Html.HiddenFor(model => model.UpdatedAt)
                            @Html.HiddenFor(model => model.Creator)
                            @Html.HiddenFor(model => model.Modifier)

                            <div class="form-group mt-4">
                                <input type="submit" value="Thêm cán bộ" class="btn btn-success" />
                                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary ml-2" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
