@model CanteenSystem.Models.User

@{
    ViewBag.Title = "Xác nhận xóa người dùng";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card border-danger">
                    <div class="card-header bg-danger text-white">
                        <h4 class="mb-0"><i class="fas fa-exclamation-triangle"></i> Xác nhận xóa</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="text-danger">Bạn có chắc chắn muốn xóa người dùng này?</h5>
                        <hr />

                        <dl class="row">
                            <dt class="col-sm-3">Tên đăng nhập</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Username)</dd>

                            <dt class="col-sm-3">Họ tên</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Fullname)</dd>

                            <dt class="col-sm-3">Vai trò</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Role)</dd>

                            <dt class="col-sm-3">Ngày tạo</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>

                            <dt class="col-sm-3">Người tạo</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Creator)</dd>
                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group mt-4">
                                <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                                @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-secondary ml-2" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>