@model CanteenSystem.Models.User

@{
    ViewBag.Title = "Edit Account";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-warning text-dark">
                        <h4 class="mb-0"><i class="fas fa-user-edit"></i> Chỉnh sửa tài khoản</h4>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.UserId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <p class="form-control-static">
                                    ******** (Không hiển thị - dùng
                                    <a href="@Url.Action("ResetPassword", new { id = Model.UserId })" class="text-primary">Reset Password</a> để thay đổi)
                                </p>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Role, new SelectList(new[] { "Admin", "User" }, Model.Role), "-- Chọn vai trò --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                            </div>

                            <!-- Ẩn audit -->
                            @Html.HiddenFor(model => model.CreatedAt)
                            @Html.HiddenFor(model => model.UpdatedAt)
                            @Html.HiddenFor(model => model.Creator)
                            @Html.HiddenFor(model => model.Modifier)

                            <div class="form-group mt-4">
                                <input type="submit" value="Lưu thay đổi" class="btn btn-warning" />
                                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary ml-2" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
